.admin-nav {
    grid-column: 1 / 2;
    background-color: #192F59;
    height: 100vh;
    padding: 50px 25px 50px 25px;
}

.nav-list {
    list-style-type: none;
    font: 26px "Poppins";
}

.nav-list li {
    padding: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-list a:hover, a:active {
    color: #3DB166;
}
