.admin-electives {
    grid-column: 2/4;
    height: 100vh;
    padding: 50px 100px 50px 100px;
}

table, input.dx-texteditor-input, div.dx-placeholder {
    font: 20px "Poppins";
}

div.dx-datagrid-header-panel {
    margin-bottom: 10px;
}


