.admin-login {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 700px auto;
    font-family: "Poppins";
}

.message-panel {
    grid-column: 1 / 2;
    height: 100vh;
    background-color: #192F59;
    display: grid;
    justify-content: center;
    align-content: center;
}

.welcome {
    color: #ffffff;
    font-size: 42px;
}

.text-under {
    color: #3DB166;
    font-size: 20px;
    margin-top: -15px;
}

.form-panel {
    grid-column: 2 / 2;
    height: 100vh;
    display: grid;
    justify-content: center;
    
}

.login-text {
    color: #192F59;
    font-size: 36px;
    margin-top: 150px;
}

.text-login {
    color: #3DB166;
    font-size: 20px;
    margin-top: -225px;
    margin-left: 48px;
}

.form-login {
    margin-top: -350px;
    margin-left: -70px;
}

.form-login input{
    width: 100%;
    padding: 17px;
    border-radius: 4px;
    margin: 20px;
    border: 2px solid #192F59;
}

.form-login input, input::placeholder {
    font: 18px "Poppins";
}

.form-login input[type=submit] {
    width: 300px;
    margin-left: 110px;
    background-color: #192F59;
    color: #3DB166;
}

.form-login input[type=submit]:hover {
    background-color: #3DB166;
    color: #ffffff;
}