.Main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px auto auto 100px;
  }
  
  .exitIcon {
    grid-column: 4/5;
    font-size: 3.5rem;
    margin-top: 20px;
    margin-left: 15px;
    color: #192F59;
  }
  