.admin-profile {
    grid-column: 2/4;
    height: 100vh;
    padding: 50px 100px 50px 100px;
    font: 22px "Poppins";
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    border: 1px solid #C5C5C5;
}

.user-info {
    margin-top: 50px;
}
